:root {
    --color-principal: #4CAF50;
    --color-texto: #333;
    --color-fondo: #f5f5f5;
  }

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    margin: 0;
  }
  

header {
  background-color: var(--color-principal);
  color: white;
  padding: 15px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #333;
}

nav a{
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--color-principal);
}
  
  nav a:active {
    color: red;
  }
  
  nav a:focus {
    outline: 2px solid blue;
  }

  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  article {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
  }
  
  ul {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
  }